
.blog-container-first {
display: inline-flex;
padding: 45px 61px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: var(--secondary-secondary, #23213D);
}

.blog-container-second {
    display: inline-flex;
padding: 45px 61px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: var(--gray-80, #F4F5F7);
}

.blog-container-third {
    display: inline-flex;
    padding: 45px 61px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
background: var(--gray-50, #F6F6F6);
/* xl */
box-shadow: 0px 65px 30px 0px rgba(0, 0, 0, 0.01), 0px 8px 20px 0px rgba(0, 0, 0, 0.04), 0px 17px 35px 0px rgba(0, 0, 0, 0.05), 0px -4px 26px 0px rgba(0, 0, 0, 0.08);
}
.blog-date-top {
    color: #FFF;

/* OVERLINE/Overline */
font-family: MADE TOMMY;
font-size: 10.5px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 228.571% */
letter-spacing: 1.68px;
text-transform: uppercase;
}

.blog-title-top {
    color: #FFF;
    font-family: MADE TOMMY;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 133.333% */
}

.blog-text-top {
    width: 912px;
    color: rgba(255, 255, 255, 0.80);
font-family: MADE TOMMY;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 168.75% */
}

.blog-author-name-top{
    width: 377px;
    color: var(--text-alt-primary, #FFF);
font-family: MADE TOMMY;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 177.778% */
}

.blog-author-role-top{
    width: 796px;
    color: var(--text-alt-primary, #FFF);
font-family: MADE TOMMY;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.quote {
    color: var(--text-text-primary, #222);
    font-family: Poppins;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
}

.quote-author {
    align-self: stretch;
    color: var(--text-text-primary, #222);
    text-align: right;
    font-family: MADE TOMMY;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 157.143% */
}

.gap {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;

}